@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-size: 1.6rem;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
section {
  padding: 5rem 0;
}
.gradient {
  background: rgb(2, 2, 6);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 6, 1) 0%,
    rgba(65, 13, 218, 1) 48%,
    rgba(164, 177, 23, 1) 100%
  );
}

/* navigation */
/* header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(88, 27, 152, 0.5);
}
.nav-brand img {
  width: 15rem;
  height: auto;
}
.menu-icons i {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
}
.menu-icons i:hover {
  color: #a3273c;
  transition: all 0.3s 0s ease-in-out;
}
.close i {
  color: rgb(223, 42, 135);
}
.nav-list {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}
.nav-list.active {
  right: 0;
}
.close {
  position: absolute;
  top: 1.4rem;
  left: 1.5rem;
  z-index: 10;
}
.nav-item {
  margin: 1.5rem 0;
}
.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ccc;
}
.nav-link:hover {
  color: rgb(76, 0, 255);
  transition: all 0.3s 0s ease;
} */

/* Hero */

/* footer */
/* #footer {
  padding: 1.5rem 0;
  color: #000;
  text-align: center;
  width: 100%;
  background: #feb062;
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 2.5rem;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  padding: 20px 0;
}
.address p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
#copyright {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}
#copyright h3 {
  font-size: 1rem;
  text-align: center;
  color: #000;
} */

/* photo gallery */
.photo-container {
  position: relative;
  top: 5rem;
  column-count: 4;
  padding: 20px;
}
.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
.image img {
  width: 100%;
  transition: 1s 1s linear;
}
.image:hover {
  transform: scale(1.4);
}
.image h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  background: #5c5c5c;
  color: #ccc;
  border: 5px;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s 0s ease;
}
.image:hover h1 {
  opacity: 0.5;
}
.photo-gallery-heading {
  position: relative;
  width: 50%;
  padding: 10rem 0;
  text-align: center;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
}
.photo-gallery-heading h2 {
  font-size: 3.5rem;
}
.photo-gallery-heading p {
  font-size: 2rem;
  text-align: justify;
}

/* video gallery */
.video-heading {
  position: relative;
  top: 10rem;
  left: 50%;
  text-align: center;
  width: 50%;
  transform: translate(-50%);
}
.video-heading h1 {
  font-size: 3.5rem;
}
.video-heading P {
  font-size: 2rem;
  text-align: justify;
}
.video-container {
  position: relative;
  top: 5rem;
  width: 100%;
  height: auto;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.play-btn {
  position: absolute;
  cursor: pointer;
}
.video {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}
.video h2 {
  position: relative;
  top: 0;
  left: 0;
}
.video .play-btn {
  width: 50px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

/* about container */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-testimonials {
  width: 100%;
  height: auto;
}
.testimonial-words {
  width: 50%;
  color: #000;
  position: relative;
  top: 8rem;
  left: 0;
  text-align: justify;
}
.testimonial-text-box {
  padding: 1rem 0;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-text-box h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.testimonial-text-box i {
  position: absolute;
  top: -5rem;
  left: 30%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: rgb(255, 196, 0, 1);
  opacity: 0.5;
  z-index: -1;
}
.customer-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: #1e5edf solid 3px;
  margin-top: 1rem;
}
.ceo-img-container {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: #1e5edf solid 3px;
  margin-top: 1rem;
  background-image: url(../images/our_ceo.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}
/* contact */
.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../images/contact.jpg) no-repeat;
  filter: saturate(1);
  background-size: cover;
  position: relative;
}
.wrapper {
  max-width: 600px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 2.5rem;
  padding: 25px;
  background: rgb(0, 0, 0, 0.6);
  box-shadow: 2px 6px 2px 6px rgb(0, 0, 0, 0.6);
}
.nav-brand-contact-box {
  width: 5rem;
  height: auto;
  position: absolute;
  top: 2rem;
  left: 0;
}
.wrapper .title h1 {
  color: #ccc;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.wrapper .title p {
  color: #ccc;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  border-bottom: 2px solid #666;
  padding: 1rem;
}
.contact-form {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #ccc;
}
.input-fields {
  margin-right: 1rem;
}
.input-fields,
.msg {
  width: 100%;
}
.input-fields .input {
  margin: 8px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #666;
  padding: 10px;
  color: #ccc;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 0;
  top: 0;
  height: 20rem;
  width: 100%;
  margin: 10px 0;
  color: #ccc;
  background: transparent;
}
::-webkit-input-placeholder {
  font-family: "Barlow Condensed", sans-serif;
  color: #ccc;
  text-align: center;
  font-size: 2rem;
}
.btn button {
  position: relative;
  font-size: 1.5rem;
  left: 25%;
  top: 5px;
  width: 50%;
  text-transform: uppercase;
  background: rgb(0, 0, 0, 0.7);
  color: #ccc;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s 0s ease;
}
.btn button:hover {
  background: #a3273c;
}

/* before we begin */
.process-page {
  width: 100%;
  height: auto;
}
.process-textbox {
  text-align: center;
  padding: 3rem;
  margin-top: 5rem;
}
.process-textbox i {
  font-size: 7rem;
}
.process-textbox h1 {
  font-size: 3.5rem;
}
.process-textbox p {
  font-size: 2rem;
  text-align: justify;
}

/* Media Queries */
@media screen and (min-width: 320px) {
  /* hero */
  .main-message {
    text-align: center;
    font-size: 2rem;
  }

  /* photo gallery */
  .photo-container {
    column-count: 1;
  }

  /* navigation */
  .nav-brand img {
    width: 7rem;
  }

  /* contact */
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 8rem;
    padding: 0;
    margin: 0;
  }
  .wrapper {
    padding: 0 3rem;
    margin: 0 3rem;
  }
}

@media screen and (min-width: 375px) {
  /* contact */
  .wrapper {
    padding: 2rem 3rem;
    margin: 0 3rem;
    top: 4rem;
  }
  .msg textarea {
    height: 10rem;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 414px) {
  /* contact */
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 12rem;
    padding: 0;
    margin: 0;
  }
  .wrapper {
    padding: 2rem 3rem;
    margin: 0 3rem;
    top: 4rem;
  }

  /* navigation */
  .nav-brand img {
    width: 8rem;
  }
}

@media screen and (min-width: 600px) {
  /* contact */
  .contact-form {
    flex-direction: row;
    padding: 2rem 0;
    margin: 3rem 0;
  }
  .msg textarea {
    height: 18rem;
    margin: 3rem 0;
  }

  /* before we begin */
  .process-page {
    height: 80vh;
  }
}

@media screen and (min-width: 700px) {
  /* navigation */
  header {
    height: 8rem;
  }
  .nav-brand img {
    width: 10rem;
  }
  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }
  .menu-icons {
    display: none;
  }
  .nav-items {
    margin: 0 2rem;
  }
  .nav-link {
    color: #000;
    position: relative;
    font-size: 2rem;
    padding: 8px;
    letter-spacing: -1px;
  }
  .nav-link::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #000;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 650ms;
  }
  .current::before {
    transform: scaleX(1);
  }
  .nav-link:hover::before {
    transform: scaleX(1);
  }

  /* hero */
  .hero-section {
    height: 60vh;
  }

  /* photo gallery */
  .photo-container {
    column-count: 2;
  }

  /* contact */
  .msg textarea {
    height: 15rem;
  }
}

/* Media Queries 950px*/
@media screen and (min-width: 950px) {
  /* photo gallery */
  .photo-container {
    column-count: 3;
  }

  /* before we begin */
  .process-page {
    flex-direction: column;
  }

  /* video gallery */
  .video-container {
    flex-direction: row;
    align-items: center;
    height: 80vh;
  }
  .video-heading {
    position: relative;
    top: 20rem;
  }

  /* contact */
  .msg textarea {
    height: 20rem;
  }
}

/* Media Queries +1200px*/
@media screen and (min-width: 1200px) {
  /* hero */
  .hero {
    height: 75vh;
  }
}
