@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-size: 1.6rem;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
section {
  padding: 5rem 0;
}
/* body {
  background-color: #666;
} */

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-brand {
  font-size: 3rem;
}
.menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}
.close i {
  color: rgb(223, 42, 135);
}
.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: rgb(233, 240, 247);
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: all 650ms ease-in-out;
}
.nav-list.active {
  right: 0;
}
.close {
  position: absolute;
  top: 1.4rem;
  left: 1.5rem;
}
.nav-item {
  margin: 1.5rem 0;
}
.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

/* Hero section */
.hero {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #00000056;
  background-blend-mode: exclusion;
  justify-content: center;
}
.main-message {
  display: flex;
  font-size: 3.5em;
  color: #ccc;
  animation-name: zoom-in;
  animation-duration: 2s;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}
@keyframes zoom-in {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.7rem;
}
.sidekick-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.sidekick-message a {
  text-decoration: none;
  color: #000;
}
.sidekick-message small:hover {
  color: #db304c;
  transition: all 0.3s 0s ease;
}
.sidekick-message {
  position: relative;
  text-align: center;
  font-size: 200%;
  width: 33%;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 2px solid #e85a4f;
}

/* footer */
#footer {
  width: 100%;
  margin-top: 10px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.7);
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #ccc;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #ccc;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #ccc;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #ccc;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  text-align: center;
  font-size: 150%;
  padding: 30px 0 10px 0;
  margin-top: 20px;
  font-weight: 600;
  color: #ccc;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 100%;
  text-align: center;
  color: #ccc;
}

/* Photo gallery */
.photo-container {
  position: relative;
  top: 5rem;
  column-count: 4;
  padding: 20px;
}
.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
.image img {
  width: 100%;
  transition: 0.25s ease-in-out;
}
.image:hover {
  transform: scale(1.1);
}
.image h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background: #5c5c5c;
  color: #ccc;
  border: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25 ease-in-out;
}
.image:hover h1 {
  opacity: 0.5;
}

/* !!! Video Gallery !!!*/
.video-container {
  position: relative;
  top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 80px auto;
}
.text-video-page {
  padding: 60px 0;
  color: #000;
  text-align: center;
  font-size: 150%;
}
.text-video-page h1 {
  padding-bottom: 10px;
  color: #000;
}
.row {
  display: block;
  text-align: center;
}
.col {
  flex-basis: 50%;
  color: #000;
}
.feature-img {
  width: 50%;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.small-img-row {
  background: inherit;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}
.small-img {
  position: relative;
  z-index: 0;
}
.small-img img {
  width: 100%;
}
.small-img-row h2 {
  line-height: 22px;
  font-size: 120%;
  color: #000;
}
.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.small-img .play-btn {
  width: 50px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

/* about&contact */
.contact-about-container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.about-textbox {
  position: relative;
  left: 10%;
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
}
.about-textbox h2,
.about-textbox p {
  width: 50%;
  font-size: 2rem;
  text-align: center;
}
.ceo-img img {
  width: 35%;
}
.wrapper {
  position: relative;
  right: 20%;
  width: 80%;
  height: 50rem;
  max-width: 550px;
  padding: 30px;
}
.wrapper .title h1 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 180%;
  color: #000;
}
.wrapper .title p {
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 150%;
}
.contact-form {
  display: flex;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  padding: 10px;
  color: #000;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 7%;
  top: 13%;
  height: 80%;
  width: 100%;
  margin: 10px 0;
  color: #000;
  background: transparent;
}
::-webkit-input-placeholder {
  font-family: "Barlow Condensed", sans-serif;
  color: #000;
  text-align: center;
  font-size: 160%;
}
.btn button {
  position: relative;
  left: 10%;
  top: 25px;
  width: 80%;
  text-transform: uppercase;
  background: #e85a4f;
  color: #000;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s 0s ease;
}
.btn button:hover {
  background: #000;
  color: #ccc;
}
