@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  background-color: #ffdee9;
  background-image: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-size: 1.6rem;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
section {
  padding: 5rem 0;
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-brand a {
  width: auto;
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase;
}

.nav-brand a:hover {
  color: #8b2335;
  transition: all 0.3s 0s ease-in-out;
}
.menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}
.menu-icons i:hover {
  color: #db304c;
  transition: all 0.3s 0s ease-in-out;
}
.close i {
  color: rgb(223, 42, 135);
}
.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #999;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}
.nav-list.active {
  right: 0;
}
.close {
  position: absolute;
  top: 1.4rem;
  left: 1.5rem;
}
.nav-item {
  margin: 1.5rem 0;
}
.nav-link {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #000;
}
.nav-link:hover {
  color: #8b2335;
  transition: all 0.3s 0s ease;
}

/* Hero section */
.hero-section {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  animation-name: zoom-in;
  animation-duration: 2s;
  overflow: hidden;
  background-color: #00000056;
}
/* .main-message {
  width: 5%;
  max-width: 50rem;
  font-size: 3rem;
  color: #000;
  text-transform: uppercase;
  animation-name: zoom-in;
  animation-duration: 2s;
} */
@keyframes zoom-in {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.mid-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.mid-message a {
  text-decoration: none;
  color: #000;
}
.mid-message a:hover {
  color: #db304c;
  transition: all 0.3s 0s ease;
}
.mid-message {
  position: relative;
  text-align: center;
  font-size: 3rem;
  width: 33%;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 2px solid #e85a4f;
}

/* footer */
#footer {
  padding: 2.5rem 0;
  background-color: #d7d4ed;
  color: #000;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.7);
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 2.5rem;
}
#facebook i {
  color: #ccc;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #ccc;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #ccc;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #ccc;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  padding: 20px 0;
}
.address p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}
#copyright {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}
#copyright h3 {
  font-size: 1.6rem;
  text-align: center;
  color: #000;
}

/* Photo gallery */
.photo-container {
  position: relative;
  top: 5rem;
  column-count: 4;
  padding: 20px;
}
.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
.image img {
  width: 100%;
  transition: 0.25s ease-in-out;
}
.image:hover {
  transform: scale(1.4);
}
.image h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background: #5c5c5c;
  color: #ccc;
  border: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25 ease-in-out;
}
.image:hover h1 {
  opacity: 0.5;
}

/* !!! Video Gallery !!!*/
.video-container {
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 80px auto;
}
.text-video-page {
  padding: 60px 0;
  color: #000;
  text-align: center;
  font-size: 150%;
}
.text-video-page h1 {
  padding-bottom: 10px;
  color: #000;
}
.row {
  display: block;
  text-align: center;
}
.col {
  flex-basis: 50%;
  color: #000;
}
.feature-img {
  width: 50%;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.small-img-row {
  background: inherit;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}
.small-img {
  position: relative;
  z-index: 0;
}
.small-img img {
  width: 100%;
}
.small-img-row h2 {
  line-height: 22px;
  font-size: 120%;
  color: #000;
}
.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.small-img .play-btn {
  width: 50px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

/* about */
.about-section {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  top: 5rem;
}
.about-textbox {
  width: 100%;
  height: auto;
  max-width: 550px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-textbox h2,
.about-textbox p {
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}
.about-textbox img {
  width: 40%;
  min-width: 350px;
}

/* contact */
.contact-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 100%;
  height: fit-content;
  max-width: 550px;
  padding: 30px;
  background: rgba(250, 250, 250, 0.9);
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.7);
}
.wrapper .title h1 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5rem;
  color: #000;
}
.wrapper .title p {
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
}
.contact-form {
  display: flex;
}
.input-fields {
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 100%;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  padding: 10px;
  color: #000;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 0;
  top: 13%;
  height: 200px;
  width: 100%;
  margin: 10px 0;
  color: #000;
  background: transparent;
}
::-webkit-input-placeholder {
  font-family: "Barlow Condensed", sans-serif;
  color: #000;
  text-align: center;
  font-size: 160%;
}
.btn button {
  position: relative;
  font-size: 1.5rem;
  left: 25%;
  top: 10px;
  width: 50%;
  text-transform: uppercase;
  background: #e85a4f;
  color: #000;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s 0s ease;
}
.btn button:hover {
  background: #8b2335;
}

/* before_we_begin */
.process-page {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  top: 5rem;
}
.process-textbox {
  width: fit-content;
  height: auto;
  max-width: 550px;
  padding: 10px;
}
.process-textbox h2 {
  font-size: 4rem;
  text-align: center;
  padding: 5px;
}
.process-textbox p {
  font-size: 2rem;
  text-align: center;
}
.process-img {
  width: 40%;
  min-width: 350px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< media queries >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media screen and (min-width: 320px) {
  /* contact */
  .wrapper {
    position: relative;
    top: 5rem;
    width: 90%;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .msg textarea {
    height: 10rem;
  }
  /* hero */
  .main-message {
    text-align: center;
    font-size: 2rem;
  }
  /* >>>>>>>>><<<<<<<<< */
  .photo-container {
    column-count: 1;
  }
}
@media screen and (min-width: 470px) {
  /* check later */
}
@media screen and (min-width: 700px) {
  /* header media query */
  header {
    height: 8rem;
  }
  .nav-brand {
    width: 2rem;
  }
  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }
  .menu-icons {
    display: none;
  }
  .nav-items {
    margin: 0 2rem;
  }
  .nav-link {
    color: #000;
    position: relative;
    font-size: 2.2rem;
    padding: 8px;
    letter-spacing: -1px;
  }
  .nav-link::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #000;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }
  .current::before {
    transform: scaleX(1);
  }
  .nav-link:hover::before {
    transform: scaleX(1);
  }

  /* hero media query */
  .hero-section {
    height: 60vh;
  }

  /* photo container media query */
  .photo-container {
    column-count: 2;
  }
}

@media screen and (min-width: 950px) {
  .photo-container {
    column-count: 3;
  }
  .process-page {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 75vh;
  }
}
