@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, rgb(255, 239, 186), rgb(235, 235, 235));
  font-family: "Barlow Condensed", sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  padding: 30px 10%;
  background-color: #d8c3a5;
}
header a h1 {
  font-size: 210%;
  transition: all 0.3s 0s ease;
  font-weight: 500;
  padding: 0% 20px;
}
header a h1:hover {
  color: #db304c;
}
li,
a,
button {
  font-family: "Barlow Condensed", sans-serif;
  transition: all 0.3s 0s ease;
  font-weight: 500;
  font-size: 125%;
  color: #000;
  text-decoration: none;
}
.logo h1 {
  cursor: pointer;
}
.navigation_links {
  list-style: none;
}
.navigation_links li {
  display: inline-block;
  padding: 0 20px;
}
.navigation_links li a {
  transition: all 0.3s 0s ease;
}
.navigation_links li a:hover {
  color: #db304c;
  border-bottom: 1px solid #e85a4f;
}
button {
  padding: 5px 40px;
  background-color: #e85a4f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s 0s ease;
  margin-left: 20px;
}
button:hover {
  background-color: rgb(0, 0, 0, 0.3);
}
.hero-section {
  width: 100%;
  height: 600px;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  animation-name: zoom-in;
  animation-duration: 2s;
  background-color: #d8c3a5;
  background-blend-mode: darken;
}
@keyframes zoom-in {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
#top-heading h3 {
  position: relative;
  left: 50%;
  width: 15%;
  text-align: center;
  padding: 30px;
  height: fit-content;
  font-size: 300%;
}
.sidekick-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}
#sidekick-center-box small:hover {
  color: #db304c;
  transition: all 0.3s 0s ease;
}
#sidekick-right-box,
#sidekick-center-box,
#sidekick-left-box {
  position: relative;
  text-align: center;
  font-size: 200%;
  width: 33%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e85a4f;
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-textbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  max-width: 550px;
  height: fit-content;
  border-radius: 5px;
  color: #ccc;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 10px #000;
}
#about-textbox img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: auto;
  padding-top: 15px;
}
#about-textbox small {
  position: relative;
  font-size: 100%;
  font-weight: 900;
  padding: 4px;
  text-align: center;
}
#about-textbox h2 {
  padding: 15px;
  font-size: 200%;
  text-align: center;
}
#about-textbox p {
  font-size: 160%;
  text-align: center;
}
.video_container {
  display: flex;
  height: 100vh;
  align-items: center;
}
.small-img-row {
  display: flex;
  margin: 100px 0;
  border-radius: 6px;
  overflow: hidden;
  width: 85%;
  justify-content: center;
  flex-wrap: wrap;
}
.small-img {
  position: relative;
}
.small-img img {
  width: auto;
  padding: 15px 15px;
}
.small-img-row h2 {
  color: #000;
  letter-spacing: 1em;
  font-size: 150%;
  text-align: center;
}
.play-btn {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.small-img .play-btn {
  width: 35px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
.services-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-text {
  width: 40%;
  max-width: 550px;
  height: fit-content;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  color: #ccc;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 10px #000;
}
.process-text h2 {
  padding: 15px;
  font-size: 200%;
  text-transform: uppercase;
}
.process-text p {
  font-size: 160%;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 80%;
  height: 425px;
  max-width: 550px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 10px #000;
}
.wrapper .title h1 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 180%;
  color: #ccc;
}
.wrapper .title p {
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 150%;
  color: #ccc;
}
.contact-form {
  display: flex;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  color: #ccc;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 7%;
  height: 80%;
  width: 100%;
  margin: 10px 0;
  color: #ccc;
  background: transparent;
}
::-webkit-input-placeholder {
  font-family: "Barlow Condensed", sans-serif;
  color: #ccc;
  text-align: center;
  font-size: 160%;
}
.btn button {
  position: relative;
  left: 12%;
  width: 80%;
  text-transform: uppercase;
  background: #e85a4f;
  color: #ccc;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s 0s ease;
}
.btn button:hover {
  background-color: rgb(0, 0, 0, 0.3);
}
.gallery-grid {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}
#footer {
  width: 100%;
  padding-top: 40px;
  background-color: #d8c3a5;
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  text-align: center;
  font-size: 150%;
  padding: 30px 0 10px 0;
  margin-top: 20px;
  font-weight: 600;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 100%;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 900px) {
  .process-text p {
    font-size: 155%;
  }
  .small-img-row h2 {
    letter-spacing: 0.6em;
  }

  #about-textbox img {
    width: 50%;
    height: auto;
  }
  #about-textbox {
    top: 10%;
  }
  .process-text {
    top: 10%;
  }
  .wrapper {
    top: 10%;
  }
  #top-heading h2 {
    text-align: center;
    font-size: 270%;
  }
  header {
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
  }
  li,
  a,
  button {
    font-size: 120%;
    margin-left: 0;
    padding-top: 10px;
  }
  .navigation_links li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #top-heading h2 {
    left: 22%;
  }
}
@media screen and (min-width: 400px) and (max-width: 760px) {
  .contact-form {
    display: block;
  }
  .input-fields {
    width: 100%;
  }
  .msg textarea {
    left: 0;
    height: 200px;
    width: 215%;
  }
  .wrapper {
    clear: both;
    top: 3%;
    left: 50%;
    height: fit-content;
  }
  .btn button {
    width: 100%;
    left: 60%;
  }
  .input-fields .input {
    text-align: center;
  }
  .small-img-row h2 {
    letter-spacing: 0.2em;
    font-size: 120%;
    text-align: center;
    padding-left: 5px;
  }
  .services-section {
    width: 100%;
    height: 100vh;
  }
  .process-text {
    position: relative;
    width: 80%;
    top: 3%;
  }
  .process-text h2 {
    padding: 0 10px 0 10px;
    font-size: 170%;
  }
  .process-text p {
    padding: 20px;
    font-size: 130%;
  }
  .about {
    height: auto;
  }
  #about-textbox h2 {
    padding: 0 10px 10px 10px;
    font-size: 170%;
  }
  #about-textbox p {
    padding: 20px;
    font-size: 130%;
  }
  #about-textbox {
    width: 80%;
    margin: 5% 0;
    text-align: center;
  }
  #about-textbox img {
    width: 50%;
    height: auto;
    padding: 0;
  }
  .sidekick-section {
    height: auto;
  }
  #sidekick-right-box,
  #sidekick-center-box,
  #sidekick-left-box {
    font-size: 150%;
    align-items: center;
    padding: 15px;
  }
  #sidekick-right-box,
  #sidekick-center-box {
    padding-bottom: 10px;
    border-bottom: 2px solid #e85a4f;
  }
  #top-heading h3 {
    left: 20%;
    top: 370px;
    text-align: center;
    font-size: 250%;
    width: 50%;
  }
  header {
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
  }
  li,
  a,
  button {
    font-size: 120%;
    margin-left: 0;
    padding-top: 10px;
  }
  .navigation_links li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #gallery-grid {
    column-count: 2;
  }
}
