@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    to top,
    rgb(41, 128, 185),
    rgb(109, 213, 250),
    rgb(255, 255, 255)
  );
  font-family: "Barlow Condensed", sans-serif;
}
header {
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 30px 10%;
}
header a h1 {
  font-size: 210%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  padding: 0% 20px;
}
header a h1:hover {
  background-color: #0088a9;
}
li,
a,
button {
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 125%;
  color: #000;
  text-decoration: none;
}
.logo h1 {
  cursor: pointer;
}
.navigation_links {
  list-style: none;
}
.navigation_links li {
  display: inline-block;
  padding: 0 20px;
}
.navigation_links li a {
  transition: all 0.3s ease 0s;
}
.navigation_links li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.7);
}

/* Footer*/
#footer {
  width: 100%;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 100%;
  text-align: center;
  color: #000;
}
/* Contact */
.contact-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}
.wrapper {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(-50%);
  width: 80%;
  max-width: 550px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 80px rgb(15, 75, 100);
}
.wrapper .title h1 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.wrapper .title p {
  color: #000;
  text-align: center;
  margin-bottom: 25px;
}
.contact-form {
  display: flex;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #000;
  padding: 10px;
  color: #000;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 10%;
  height: 80%;
  width: 100%;
  margin: 10px 0;
  color: #ccc;
  background: transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
.btn button {
  position: relative;
  left: 12%;
  width: 80%;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  color: #000;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.btn button:hover {
  background-color: rgba(0, 136, 169, 0.7);
}
#address {
  color: #000;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
@media only screen and (min-width: 370px) and (max-width: 767px) {
  header {
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
  }
  li,
  a,
  button {
    font-size: 120%;
    margin-left: 0;
    padding-top: 10px;
  }
  .navigation_links li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    top: 10%;
    left: 50%;
  }
  .btn button {
    width: 100%;
    left: 10%;
  }
}
