@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: rgba(0, 0, 0, 0.4);
  color: #000;
  font-family: "roboto", sans-serif;
  font-weight: 200;
  color: #3a3a3a;
}
h1,
h2 {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
}
#logo {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}
#logo a {
  text-decoration: none;
  text-align: center;
}
#logo h1 {
  color: #000;
  font-family: "lato", sans-serif;
  font-weight: bold;
  font-size: 250%;
}
#logo,
#menu {
  line-height: 75px;
}
#menu {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#menu li {
  padding: 10px;
  list-style-type: none;
}
#menu a {
  font-size: 215%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#menu a:hover {
  border-bottom: 1.5px solid black;
}
/* main image area */
#main-img {
  background-image: url(../images/mainimg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  border-bottom: 2px solid black;
  animation-name: zoom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}
#main-img div {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 200px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.4);
}
#comment-main {
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  color: #999999;
  text-align: center;
  padding: 10px;
}
/* mid section */
#mid-page {
  margin-top: 3px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 400px;
}
#mid-img {
  background-image: url(/assets/images/conference.webp);
  background-position: center center;
  width: 100%;
  height: 400px;
}

/* Footer Section */
#footer {
  width: 100%;
  margin-top: 1%;
}
#socials {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  color: #000;
  font-size: 220%;
}
#facebook i:hover {
  color: #2c57ac;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i:hover {
  color: #00acee;
}
#pin i:hover {
  color: #ee1b08;
}
/* Gallery area */
#gallery-area {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#gallery-area img {
  width: 100%;
  overflow: hidden;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 3%;
  justify-content: center;
}
#copyright h3 {
  font-size: 100%;
  text-align: center;
}
/* Meadia Queries */
@media screen and (max-width: 1200px) {
  #logo,
  #menu {
    font-size: smaller;
  }
}
@media screen and (max-width: 900px) {
  #logo {
    font-size: 100%;
    text-align: center;
  }
  #menu a {
    font-size: 150%;
  }
  #gallery-area {
    clear: both;
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
  }
  #main-img div {
    position: relative;
    top: 58%;
    left: 42%;
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  @media screen and (max-width: 520px) {
    #logo {
      font-size: 100%;
    }
    #menu a {
      font-size: 130%;
    }
    #main-img div {
      position: relative;
      top: 58%;
      left: 38%;
      width: 200px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
    }
    #gallery-area {
      clear: both;
      width: 100%;
      line-height: 0;
      column-count: 3;
      column-gap: 0;
    }
  }
  @media screen and (max-width: 350px) {
    #logo {
      font-size: 100%;
    }
    #menu a {
      font-size: 130%;
    }
    #gallery-area {
      clear: both;
      width: 100%;
      line-height: 0;
      column-count: 3;
      column-gap: 0;
    }
  }
}
