@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: "lato", sans-serif;
  background-color: #ccc;
}
h1 {
  text-transform: uppercase;
  text-decoration: none;
}
.topnav {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}
.topnav a {
  padding: 10px 10px;
  text-decoration: none;
  line-height: 15px;
  display: block;
  color: #ccc;
  text-align: center;
}
.topnav a:hover {
  color: #ccc;
}
.active {
  background: rgba(0, 0, 0, 0.3);
  color: #ccc;
}
.hero-section {
  width: 100%;
  height: 100vh;
}
.hero-section h2 {
  position: relative;
  top: 20%;
  margin-left: 5%;
  width: 50%;
  font-size: 200%;
  text-transform: uppercase;
  animation-name: move-in;
  animation-duration: 2s;
}
@keyframes move-in {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 5%;
  }
}
#hero-dialog {
  position: absolute;
  top: 20%;
  left: 59%;
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #ccc;
}
#hero-dialog-2 {
  position: absolute;
  top: 60%;
  left: 59%;
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #ccc;
}
#hero-dialog-3 {
  position: absolute;
  top: 80%;
  left: 59%;
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #ccc;
}
#hero-dialog h3,
#hero-dialog-2 h3,
#hero-dialog-3 h3 {
  font-size: 120%;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
}
#hero-dialog p,
#hero-dialog-2 p,
#hero-dialog-3 p {
  font-size: 100%;
  text-align: center;
  padding: 8px;
}
#hero-img {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
}
/* Footer Section */
#footer {
  width: 100%;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.5);
}
#socials {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #ccc;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #ccc;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #ccc;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #ccc;
}
#pin i:hover {
  color: #ff1500;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 100%;
  text-align: center;
  color: #ccc;
}
/* Gallery page */
#gallery-area {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#gallery-area img {
  width: 100%;
  overflow: hidden;
}
/* about us page */
#about-img {
  background-image: url(../images/about_portrait.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-page {
  width: 100%;
  height: 100vh;
}
#about-text {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 22%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 20px;
}
#about-text h3 {
  font-size: 150%;
  text-align: center;
  color: #ccc;
  padding-bottom: 3px;
}
#about-text p {
  font-size: 100%;
  text-align: center;
  color: #ccc;
}

/* Contact Page  */
.background-img {
  width: 100%;
  height: 100vh;
  background-image: url(../images/contactpage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 2px;
  width: 98%;
  height: fit-content;
}
.contact-form {
  height: fit-content;
  padding: 0;
}
.wrapper h3 {
  color: #ccc;
  text-align: center;
  text-transform: uppercase;
}
.input-fields,
.msg {
  width: 60%;
  text-align: center;
}
.input-fields .input {
  margin: 10px 0;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #ccc;
}
.msg textarea {
  width: 270px;
  height: 256px;
  background: transparent;
  color: #ccc;
}
::-webkit-input-placeholder {
  text-align: center;
  color: #ccc;
  font-size: 1vw;
}
::moz-input-placeholder {
  color: #fff;
}
::ms-input-placeholder {
  color: #fff;
}
.btn button {
  width: 90%;
  background: rgba(74, 75, 74, 0.4);
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  color: #ccc;
  font-size: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 820px) {
  .hero-section h2 {
    position: relative;
    top: 1%;
    left: 1%;
  }

  #hero-dialog {
    position: absolute;
    top: 45%;
    left: 4%;
  }
  #address {
    text-align: center;
    color: #ccc;
    padding: 10px;
  }
  .contact-form {
    position: absolute;
    width: 98%;
    top: 20%;
    left: 1%;
  }
  /* both */
  .input-fields,
  .msg {
    padding: 15px;
    margin-left: 16.3%;
  }
  .input-fields .input,
  .msg textarea {
    padding: 10px;
    color: #ccc;
    width: 100%;
  }
  .msg textarea {
    height: 120px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
    color: #ccc;
    font-size: 100%;
  }
  ::moz-input-placeholder {
    color: #fff;
  }
  ::ms-input-placeholder {
    color: #fff;
  }
  #about-text {
    position: relative;
    top: 15%;
    left: 0%;
    margin: 6%;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
  }
  #about-text {
    position: absolute;
    top: 20%;
    left: 2%;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
  }
  #about-text h3 {
    font-size: 120%;
    text-align: center;
    color: #ccc;
    padding-bottom: 3px;
  }
  #about-text p {
    font-size: 90%;
    text-align: center;
    color: #ccc;
  }
}

@media screen and (max-width: 440px) {
  /* both */
  #hero-dialog {
    position: absolute;
    top: 20%;
    left: 59%;
  }
  .input-fields,
  .msg {
    margin-left: 1%;
  }
  .input-fields,
  .msg {
    width: 92%;
    text-align: center;
  }
  .input-fields .input,
  .msg textarea {
    margin: 10px 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    color: #ccc;
    width: 92%;
  }
  ::moz-input-placeholder {
    color: #fff;
  }
  ::ms-input-placeholder {
    color: #fff;
  }
  #about-text {
    position: relative;
    top: 15%;
    left: 0%;
    margin: 6%;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
  }
  #about-text h3 {
    font-size: 130%;
    text-align: center;
    color: #ccc;
    padding-bottom: 3px;
  }
  #about-text p {
    font-size: 90%;
    text-align: center;
    color: #ccc;
  }
  h1 {
    font-size: 160%;
  }
  #gallery-area {
    column-count: 3;
  }
}
