@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background: rgba(0, 0, 0, 0.6);
  font-family: "lato", sans-serif;
}
h1,
h2 {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
}
/* Header Section */
#logo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
#logo h1 {
  color: #000;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 4vw;
  animation-name: move-in-right;
  animation-duration: 2s;
  animation-direction: forwards;
}
@keyframes move-in-right {
  from {
    margin-right: -50%;
  }

  to {
    margin-right: 0%;
  }
}
#logo,
#menu {
  line-height: 75px;
}
#menu {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#menu li {
  padding: 10px;
  list-style-type: none;
}
#menu a {
  font-size: 150%;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center;
}
#menu a:hover {
  color: #999;
}

/* Home page */
.home-section {
  width: 100%;
  height: 800px;
  background-image: url(../images/home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section div {
  display: flex;
  width: 50vw;
  height: fit-content;
}
.home-section h2 {
  position: relative;
  top: 25vh;
  font-size: 4.85vw;
  padding-left: 10px;
  animation-name: move-in;
  animation-direction: forwards;
  animation-duration: 2s;
}
@keyframes move-in {
  from {
    margin-left: -50%;
  }

  to {
    margin-left: 0%;
  }
}

/* Footer Section */
#footer {
  width: 100vw;
  padding-top: 40px;
}
#socials {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #2c57ac;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 1.1vw;
  text-align: center;
  color: #000;
}

/* Gallery page */
#gallery-area {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#gallery-area img {
  width: 100%;
  overflow: hidden;
}

/* About page */
.about-page div {
  width: 100vw;
  height: max-content;
}
#about-img {
  width: 100vw;
  height: 800px;
  background-image: url(../images/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-text {
  position: absolute;
  top: 25%;
  left: 10vw;
  width: 22vw;
  height: fit-content;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 30px;
}
#about-text h3 {
  font-size: 2vw;
  text-align: center;
  color: #ccc;
}
#about-text p {
  font-size: 1vw;
  line-height: 3.1vh;
  text-align: center;
  color: #ccc;
  padding-top: 10px;
}
#about-video {
  position: relative;
  left: 60vw;
  border: none;
}

/* Contact Page  */
#body-contact {
  width: 100%;
  height: 600px;
  background-image: url(../images/contactpage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-info {
  position: absolute;
  top: 52%;
  left: 15%;
  transform: translateY(-50%);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.8);
}
#contact-info h2 {
  padding: 8px;
  text-align: center;
  font-size: 2.1vw;
  color: #ccc;
}
#contact-info p {
  padding-top: 4px;
  text-align: center;
  font-size: 1.1vw;
  color: #ccc;
}
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 30px;
  border-radius: 5px;
  display: flex;
}
.wrapper {
  position: absolute;
  top: 52%;
  left: 15%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-form small {
  color: #fff;
  text-align: center;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  color: #ccc;
  width: 100%;
}
.msg textarea {
  height: 201px;
}
::-webkit-input-placeholder {
  text-align: center;
  color: #ccc;
  font-size: 1vw;
}
::moz-input-placeholder {
  color: #fff;
}
::ms-input-placeholder {
  color: #fff;
}
.btn button {
  width: 100%;
  background: rgba(74, 75, 74, 0.4);
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  color: #ccc;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  #contact-info,
  .contact-form {
    width: 50%;
  }
  #contact-info {
    position: absolute;
    top: 40%;
    left: 20%;
  }
  .contact-form {
    position: absolute;
    top: 35%;
    left: 4%;
  }
}
