@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-size: 1.6rem;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
section {
  padding: 5rem 0;
}
/* Global except for home and contact pages */
.page-lenght {
  background: linear-gradient(
    360deg,
    rgb(49, 24, 131, 0.9) 0%,
    rgb(72, 56, 149, 0.4) 100%
  );
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(88, 27, 152, 0.5);
}
.nav-brand img {
  width: 20rem;
  height: auto;
}

.menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}
.menu-icons i:hover {
  color: #a3273c;
  transition: all 0.3s 0s ease-in-out;
}
.close i {
  color: rgb(223, 42, 135);
}
.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}
.nav-list.active {
  right: 0;
}
.close {
  position: absolute;
  top: 1.4rem;
  left: 1.5rem;
}
.nav-item {
  margin: 1.5rem 0;
}
.nav-link {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ccc;
}
.nav-link:hover {
  color: #a3273c;
  transition: all 0.3s 0s ease;
}

/* Hero section */
.hero-section {
  width: 100%;
  max-width: 100%;
  height: 80vh;
  background: linear-gradient(
      322deg,
      rgb(49, 24, 131, 0.9) 0%,
      rgb(72, 56, 149, 0.4) 100%
    ),
    url(../images/hero.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-message h2 {
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: #571b989a;
  animation: blink 10s ease-in infinite;
}
@keyframes blink {
  0% {
    color: black;
    opacity: 1;
  }
  25% {
    color: #571b98;
    opacity: 0.75;
  }
  50% {
    color: gold;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.mid-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.mid-message a {
  text-decoration: none;
  color: #000;
}
.mid-message a:hover {
  color: #db304c;
  transition: all 0.3s 0s ease;
}
.mid-message {
  position: relative;
  text-align: center;
  font-size: 3rem;
  width: 33%;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(88, 27, 152, 0.5);
}
.mid-message h3 {
  text-transform: uppercase;
  text-align: center;
}
.mid-message p {
  font-size: 2rem;
  text-align: center;
}

/* footer */
#footer {
  padding: 2.5rem 0;
  color: #000;
  text-align: center;
  width: 100%;
  background: rgba(88, 27, 152, 0.5);
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 2.5rem;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  padding: 20px 0;
}
.address p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}
#copyright {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}
#copyright h3 {
  font-size: 1.6rem;
  text-align: center;
  color: #000;
}

/* Photo gallery */
.photo-container {
  position: relative;
  top: 5rem;
  column-count: 4;
  padding: 20px;
}
.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
.image img {
  width: 100%;
  transition: 0.25s ease-in-out;
}
.image:hover {
  transform: scale(1.4);
}
.image h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  background: #5c5c5c;
  color: #ccc;
  border: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25 ease-in-out;
}
.image:hover h1 {
  opacity: 0.5;
}
.photo-gallery-heading {
  position: relative;
  width: 50%;
  padding: 10rem 0;
  text-align: center;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
}
.photo-gallery-heading h2 {
  font-size: 3.5rem;
}
.photo-gallery-heading p {
  font-size: 2rem;
}

/* !!! Video Gallery !!!*/

.video-heading {
  position: relative;
  top: 10rem;
  left: 50%;
  text-align: center;
  width: 50%;
  transform: translate(-50%);
}
.video-heading h1 {
  font-size: 3.5rem;
}
.video-heading P {
  font-size: 2rem;
}
.video-container {
  position: relative;
  top: 5rem;
  width: 100%;
  height: auto;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.play-btn {
  position: absolute;
  cursor: pointer;
}
.video {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}
.video h2 {
  position: relative;
  top: 0;
  left: 0;
}
.video .play-btn {
  width: 50px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
/* about */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-testimonials {
  width: 100%;
  height: auto;
}
.testimonial-words {
  width: 50%;
  color: #000;
  position: relative;
  top: 8rem;
  left: 0;
  text-align: center;
}
.testimonial-text-box {
  padding: 1rem 0;
  margin-bottom: 5rem;
  position: relative;
}
.testimonial-text-box i {
  position: absolute;
  top: -5rem;
  left: 30%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #581b98;
  opacity: 0.5;
  z-index: -1;
}
.customer-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 3px solid #1e5edf;
  margin-top: 1rem;
}
.ceo-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 3px solid #1e5edf;
  margin-top: 1rem;
}

/* contact */
.contact-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      360deg,
      rgb(49, 24, 131, 0.9) 0%,
      rgb(72, 56, 149, 0.4) 100%
    ),
    url(../images/contact.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
/* mobile  */
.wrapper {
  width: 80%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2.5rem;
  padding: 25px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 6px 2px 6px rgba(0, 0, 0, 0.5);
}
.nav-brand-contact-box {
  width: 5rem;
  height: auto;
  position: absolute;
  top: 2rem;
  left: 0rem;
}
.wrapper .title h1 {
  color: #000;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #000;
}
.wrapper .title p {
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
}
.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-fields {
  margin-right: 1rem;
}
.input-fields,
.msg {
  width: 100%;
}
.input-fields .input {
  margin: 8px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  padding: 10px;
  color: #000;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 0;
  top: 0;
  height: 8rem;
  width: 100%;
  margin: 10px 0;
  color: #000;
  background: transparent;
}
::-webkit-input-placeholder {
  font-family: "Barlow Condensed", sans-serif;
  color: #000;
  text-align: center;
  font-size: 160%;
}
.btn button {
  position: relative;
  font-size: 1.5rem;
  left: 25%;
  top: 5px;
  width: 50%;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  color: #ccc;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s 0s ease;
}
.btn button:hover {
  background: #a3273c;
}

/* before_we_begin */
.process-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: linear-gradient(
    360deg,
    rgb(49, 24, 131, 0.9) 0%,
    rgb(72, 56, 149, 0.4) 100%
  );
}
.process-textbox {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 5px;
  text-align: center;
}
.process-textbox i {
  font-size: 20rem;
  position: relative;
  opacity: 0.7;
}
.process-textbox h1 {
  font-size: 3.5rem;
  padding: 5px;
}
.process-textbox p {
  font-size: 2rem;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< media queries >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media screen and (min-width: 320px) {
  /* hero */
  .main-message {
    text-align: center;
    font-size: 2rem;
  }
  /* >>>>>>>>><<<<<<<<< */
  .photo-container {
    column-count: 1;
  }
  .nav-brand img {
    width: 7rem;
  }
}
@media screen and (min-width: 470px) {
  /* check later */
  .nav-brand img {
    width: 9rem;
  }
}
@media screen and (min-width: 700px) {
  /* header media query */
  header {
    height: 8rem;
  }
  .nav-brand img {
    width: 10rem;
  }
  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }
  .menu-icons {
    display: none;
  }
  .nav-items {
    margin: 0 2rem;
  }
  .nav-link {
    color: #000;
    position: relative;
    font-size: 2.2rem;
    padding: 8px;
    letter-spacing: -1px;
  }
  .nav-link::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #000;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }
  .current::before {
    transform: scaleX(1);
  }
  .nav-link:hover::before {
    transform: scaleX(1);
  }

  /* hero */
  .hero-section {
    height: 60vh;
  }

  /* photo container*/
  .photo-container {
    column-count: 2;
  }
  /* contact */
  .contact-page {
    height: 100vh;
  }
  .wrapper {
    width: 60%;
  }
  /* process page */
  .process-textbox {
    height: 100vh;
  }
}

@media screen and (min-width: 950px) {
  .photo-container {
    column-count: 3;
  }
  .process-page {
    flex-direction: column;
  }
  .wrapper {
    height: auto;
  }
  .contact-form {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .msg textarea {
    height: 20rem;
  }
  /* video */
  .video-container {
    flex-direction: row;
    align-items: center;
    height: 80vh;
  }
  .video-heading {
    position: relative;
    top: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 75vh;
  }
}
