@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
html,
body {
  height: 100%;
  font-size: 10px;
  font-family: "Barlow Condensed", sans-serif;
}
.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 13, 218, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.page-header {
  margin-top: 8rem;
}
.navbar-brand img {
  width: 7rem;
}
.nav-link {
  font-size: 2.2rem;
}
.main-h {
  width: auto;
}
.main-h h2 {
  font-size: 4rem;
  color: #fff;
}
.main-h p {
  margin-top: 3rem;
  font-size: 2.25rem;
  color: #fff;
}
.main-h button {
  font-size: 2rem;
}
.feature {
  color: #fff;
}
.mid-h h3 {
  font-size: 2.5rem;
}
.mid-h p {
  font-size: 1.8rem;
}
.btn a {
  color: #fff;
}
.team-img img {
  width: 50rem;
  max-width: 100%;
}
.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

footer {
  padding: 1.5rem 0;
  color: #000;
  text-align: center;
  width: 100%;
  background: #feb062;
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 2.5rem;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  padding: 20px 0;
}
.address p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
#copyright {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}
#copyright h3 {
  font-size: 1rem;
  text-align: center;
  color: #000;
}

/* photo gallery */
.photo-container {
  position: relative;
  top: 1rem;
  column-count: 4;
  padding: 20px;
}
.image {
  display: inline-block;
  margin-bottom: 1rem;
  overflow: hidden;
}
.image img {
  width: 100%;
  transition: 1s 1s linear;
}
.photo-gallery-heading {
  width: 100%;
  padding: 3rem;
  text-align: center;
}
.photo-gallery-heading h2 {
  font-size: 5rem;
  text-align: center;
}
.photo-gallery-heading p {
  font-size: 2.5rem;
  text-align: center;
}

/* video gallery */
.row img {
  align-items: center;
  width: 75%;
  margin-left: 6rem;
  margin-bottom: 5rem;
}
.click {
  cursor: pointer;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
.video-heading {
  width: 100%;
  padding: 3rem;
  text-align: center;
}
.video-heading h2 {
  font-size: 5rem;
}
.video-heading p {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.process-heading {
  width: 100%;
  text-align: center;
  padding: 3rem;
}
.process-heading h2 {
  font-size: 5rem;
}

.process-heading p {
  font-size: 2.5rem;
}
/* contact */
.contact-box {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}
.contact-box input {
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid #666;
}
.contact-box input::placeholder {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
.contact-box textarea {
  background: transparent;
  border: 1px solid #666;
}
.contact-box textarea::placeholder {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
.contact-box button {
  font-size: 2rem;
  border-radius: 10px;
  width: 10rem;
}
/* about container */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-testimonials {
  width: 100%;
  height: auto;
}
.testimonial-words {
  width: 50%;
  color: #000;
  position: relative;
  top: 8rem;
  left: 0;
  text-align: justify;
}
.testimonial-text-box {
  padding: 1rem 0;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-text-box h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.testimonial-text-box i {
  position: absolute;
  top: -5rem;
  left: 30%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: rgb(255, 196, 0, 1);
  opacity: 0.5;
  z-index: -1;
}
.customer-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: #1e5edf solid 3px;
  margin-top: 1rem;
}
.ceo-img-container {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: #1e5edf solid 3px;
  margin-top: 1rem;
  background-image: url(../images/our_ceo.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

/* Media Queries */
@media screen and (min-width: 320px) {
  /* photo gallery */
  .photo-container {
    column-count: 1;
  }
}

@media screen and (min-width: 700px) {
  /* photo gallery */
  .photo-container {
    column-count: 2;
  }
}

/* Media Queries 950px*/
@media screen and (min-width: 1000px) {
  /* photo gallery */
  .photo-container {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
}
