@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(0, 0, 0, 0.3);
  font-family: "Barlow Condensed", sans-serif;
}

/*!!!! Navigation Bar!!!!*/
header {
  width: 100%;
  position: relative;
}
.topnav {
  background: rgb(0, 0, 0, 0.3);
  overflow: hidden;
}
.topnav #myLinks {
  display: none;
  float: none;
  position: absolute;
  background: rgb(0, 0, 0, 0.9);
  width: 100%;
}
.topnav a {
  color: #ccc;
  padding: 8px;
  text-decoration: none;
  display: block;
  font-size: 210%;
  text-align: center;
}
.topnav h1 {
  font-size: 210%;
  text-align: center;
  color: #000;
}
.topnav a h1:hover {
  color: #db304c;
  transition: all 0.3s 0s ease-in-out;
}
.topnav a.icon {
  display: block;
  color: #000;
  position: absolute;
  font-size: 200%;
  right: 2%;
  top: 25%;
}
.topnav a.icon:hover {
  color: #db304c;
  transition: all 0.3s 0s ease;
}
#myLinks a:hover {
  color: #e85a4f;
  transition: all 0.3s 0s ease;
}
.active {
  color: white;
}
/* !!! End !!! */

/* !!!! Hero Section !!!! */
.hero-section {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: 600px;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  animation-name: zoom-in;
  animation-duration: 2s;
  background-color: #834f1356;
  background-blend-mode: exclusion;
  justify-content: center;
}
@keyframes zoom-in {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
#top-heading h3 {
  width: 100%;
  font-size: 4.5em;
  margin-bottom: 40px;
  color: #000;
  background: rgb(0, 0, 0, 0.3);
}
.sidekick-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}
#sidekick-center-box a {
  text-decoration: none;
  color: #000;
}
#sidekick-center-box small:hover {
  color: #db304c;
  transition: all 0.3s 0s ease;
}
#sidekick-right-box,
#sidekick-center-box,
#sidekick-left-box {
  position: relative;
  text-align: center;
  font-size: 200%;
  width: 33%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e85a4f;
}
/* !!! End !!! */

/* !!!Photo Gallery !!! */
.gallery-grid {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}
/* !!! End !!! */

/* !!! Video Gallery !!!*/
.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 80px auto;
}
.text-video-page {
  padding: 60px 0;
  color: #000;
  text-align: center;
  font-size: 150%;
}
.text-video-page h1 {
  padding-bottom: 10px;
}
.row {
  display: block;
}
.col {
  flex-basis: 50%;
}
.feature-img {
  width: 50%;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.small-img-row {
  background: inherit;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}
.small-img {
  position: relative;
  z-index: -1;
}
.small-img img {
  width: 100%;
}
.small-img-row h2 {
  line-height: 22px;
  font-size: 120%;
  color: #000;
}
.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.small-img .play-btn {
  width: 50px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
/* !!! End !!! */

/* !!! About Page !!! */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-textbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  max-width: 550px;
  height: fit-content;
  border-radius: 5px;
  color: #ccc;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 10px #000;
}
#about-textbox img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: auto;
  padding-top: 15px;
}
#about-textbox small {
  position: relative;
  font-size: 100%;
  font-weight: 900;
  padding: 4px;
  text-align: center;
}
#about-textbox h2 {
  padding: 15px;
  font-size: 200%;
  text-align: center;
}
#about-textbox p {
  font-size: 160%;
  text-align: center;
}
/* !!! End !!! */

/* !!! Before we begin section!!! */
.services-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-text {
  width: 40%;
  max-width: 550px;
  height: fit-content;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  color: #ccc;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 10px #000;
}
.process-text h2 {
  padding: 15px;
  font-size: 200%;
  text-transform: uppercase;
}
.process-text p {
  font-size: 160%;
}
/* !!! End !!! */

/* !!! Contact Section!!! */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 80%;
  height: 425px;
  max-width: 550px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 10px #000;
}
.wrapper .title h1 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 180%;
  color: #ccc;
}
.wrapper .title p {
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 150%;
  color: #ccc;
}
.contact-form {
  display: flex;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  color: #ccc;
  width: 100%;
}
.msg textarea {
  position: relative;
  left: 7%;
  top: 13%;
  height: 80%;
  width: 100%;
  margin: 10px 0;
  color: #ccc;
  background: transparent;
}
::-webkit-input-placeholder {
  font-family: "Barlow Condensed", sans-serif;
  color: #ccc;
  text-align: center;
  font-size: 160%;
}
.btn button {
  position: relative;
  left: 10%;
  top: 25px;
  width: 80%;
  text-transform: uppercase;
  background: #e85a4f;
  color: #ccc;
  text-align: center;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s 0s ease;
}
.btn button:hover {
  background-color: rgb(0, 0, 0, 0.3);
}
/* !!! End !!! */

/* !!! Footer Section !!! */
#footer {
  width: 100%;
  margin-top: 10px;
  padding-top: 40px;
  background-color: #c3bfb3;
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  text-align: center;
  font-size: 150%;
  padding: 30px 0 10px 0;
  margin-top: 20px;
  font-weight: 600;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 100%;
  text-align: center;
  color: #000;
}
/* !!! End !!! */
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .text-video-page {
    padding: 60px 0;
    color: #000;
    text-align: center;
    font-size: 150%;
  }
  .row {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .small-img img {
    width: 100%;
  }
  .feature-img {
    width: 100%;
  }
  .process-text p {
    font-size: 155%;
  }
  .small-img-row h2 {
    letter-spacing: 0.6em;
  }

  #about-textbox img {
    width: 50%;
    height: auto;
  }
  #about-textbox {
    top: 10%;
  }
  .process-text {
    top: 10%;
  }
  .wrapper {
    top: 10%;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  li,
  a,
  button {
    font-size: 120%;
    margin-left: 0;
    padding-top: 10px;
  }
  .navigation_links li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .container {
    flex-direction: column;
  }
  .text-video-page {
    padding: 60px 0;
    color: #000;
    text-align: center;
    font-size: 150%;
  }
  .text-video-page h1 {
    padding-bottom: 10px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .small-img img {
    width: 100%;
  }
  .feature-img {
    width: 100%;
  }

  .topnav h1 {
    font-size: 130%;
    padding-left: 10px;
  }
  .topnav a.icon {
    top: 30%;
  }
  #myLinks a {
    font-size: 150%;
    text-align: center;
  }
  .contact-form {
    display: block;
  }
  .input-fields {
    width: 100%;
  }
  .msg textarea {
    left: 0;
    height: 200px;
    width: 215%;
  }
  .wrapper {
    clear: both;
    top: 3%;
    left: 50%;
    height: fit-content;
  }
  .btn button {
    width: 100%;
    left: 60%;
  }
  .input-fields .input {
    text-align: center;
  }
  .small-img-row h2 {
    letter-spacing: 0.2em;
    font-size: 120%;
    text-align: center;
    padding-left: 5px;
  }
  .services-section {
    width: 100%;
    height: 100vh;
  }
  .process-text {
    position: relative;
    width: 80%;
    top: 3%;
  }
  .process-text h2 {
    padding: 0 10px 0 10px;
    font-size: 170%;
  }
  .process-text p {
    padding: 20px;
    font-size: 130%;
  }
  .about {
    height: auto;
  }
  #about-textbox h2 {
    padding: 0 10px 10px 10px;
    font-size: 170%;
  }
  #about-textbox p {
    padding: 20px;
    font-size: 130%;
  }
  #about-textbox {
    width: 80%;
    margin: 5% 0;
    text-align: center;
  }
  #about-textbox img {
    width: 50%;
    height: auto;
    padding: 0;
  }
  .sidekick-section {
    height: auto;
  }
  #sidekick-right-box,
  #sidekick-center-box,
  #sidekick-left-box {
    font-size: 150%;
    align-items: center;
    padding: 15px;
  }
  #sidekick-right-box,
  #sidekick-center-box {
    padding-bottom: 10px;
    border-bottom: 2px solid #e85a4f;
  }
  .hero-section {
    justify-content: flex-end;
    align-items: center;
  }
  #top-heading h3 {
    width: 100%;
    text-align: center;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  li,
  a,
  button {
    font-size: 120%;
    margin-left: 0;
    padding-top: 10px;
  }
  .btn button {
    top: 5px;
  }
  .navigation_links li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #gallery-grid {
    column-count: 2;
  }
}
