@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
html,
body {
  height: 100%;
  font-size: 10px;
  font-family: "Montserrat Alternates", sans-serif;
}
.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 13, 218, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.navbar-brand img {
  width: 7rem;
}
.nav-link {
  font-size: 1.5rem;
}
.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}
.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}
.btn a {
  color: #fff;
}
.team-img img {
  width: 50rem;
  max-width: 100%;
}
.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

footer {
  padding: 1.5rem 0;
  color: #000;
  text-align: center;
  width: 100%;
  background: #feb062;
}
#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 1.5rem;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #1e5edf;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
.address {
  padding: 20px 0;
}
.address p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
#copyright {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}
#copyright h3 {
  font-size: 1rem;
  text-align: center;
  color: #000;
}

/* photo gallery */
.photo-container {
  position: relative;
  top: 1rem;
  column-count: 4;
  padding: 20px;
}
.image {
  display: inline-block;
  margin-bottom: 1rem;
  overflow: hidden;
}
.image img {
  width: 100%;
  transition: 1s 1s linear;
}
.photo-gallery-heading {
  position: relative;
  width: 90%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}
.photo-gallery-heading h2 {
  font-size: 2.5rem;
}
.photo-gallery-heading p {
  font-size: 1.2rem;
  text-align: center;
}

/* video gallery */
.play-btn {
  position: relative;
  cursor: pointer;
  top: 0rem;
  right: 0rem;
}
.play-btn {
  width: 50px;
}
.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
.video-heading {
  width: 100%;
  padding: 4rem;
  text-align: center;
}
.video-heading h1 {
  font-size: 3rem;
}
.video-heading p {
  font-size: 1.5rem;
}
/* Media Queries */
@media screen and (min-width: 320px) {
  /* photo gallery */
  .photo-container {
    column-count: 1;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 414px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 700px) {
  /* photo gallery */
  .photo-container {
    column-count: 2;
  }
}

/* Media Queries 950px*/
@media screen and (min-width: 950px) {
  /* photo gallery */
  .photo-container {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
}
