@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: #ddd;
  font-family: "lato", sans-serif;
}
h1 {
  text-transform: uppercase;
  text-decoration: none;
}
.topnav {
  overflow: hidden;
  background-color: #9999;
  position: relative;
}
.topnav #mylinks {
  display: none;
}
.topnav a {
  color: #ccc;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  color: rgb(70, 1, 60);
}
.topnav a.icon {
  background: rgba(252, 156, 2);
  line-height: 39px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ccc;
  color: rgba(252, 156, 2);
}
.active {
  background: #ccc;
  color: #000;
}
#hero-img {
  width: 100%;
  height: 800px;
  background-image: url(../images/home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* Footer Section */
#footer {
  width: 100vw;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.5);
}
#socials {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #000;
}
#facebook i:hover {
  color: #2c57ac;
}
#instagram i {
  color: #000;
}
#instagram i:hover {
  color: #db304c;
}
#twitter i {
  color: #000;
}
#twitter i:hover {
  color: #00acee;
}
#pin i {
  color: #000;
}
#pin i:hover {
  color: #ff1500;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 1.1vw;
  text-align: center;
  color: #000;
}
/* Gallery page */
#gallery-area {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#gallery-area img {
  width: 100%;
  overflow: hidden;
}
/* about us page */
about-page div {
  width: 100%;
  height: fit-content;
}
#about-img {
  width: 100%;
  height: 800px;
  background-image: url(../images/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#about-text {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 22%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 20px;
}
#about-text h3 {
  font-size: 150%;
  text-align: center;
  color: #ccc;
  padding-bottom: 3px;
}
#about-text p {
  font-size: 100%;
  text-align: center;
  color: #ccc;
}

/* Contact Page  */
#body-contact {
  width: 100%;
  height: 600px;
  background-image: url(../images/contactpage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-info {
  position: relative;
  top: 0%;
  left: 0%;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.8);
  width: fit-content;
  height: fit-content;
}
#contact-info h2 {
  padding: 8px;
  text-align: center;
  font-size: 150%;
  color: #ccc;
}
#contact-info p {
  padding-top: 4px;
  text-align: center;
  font-size: 100%;
  color: #ccc;
}
.contact-form {
  display: flex;
  max-width: 550px;
  height: fit-content;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 2px;
}
.wrapper {
  position: absolute;
  top: 25%;
  left: -3%;
  width: 100%;
  padding: 0 20px;
}
.wrapper h3 {
  color: #ccc;
  text-align: center;
  text-transform: uppercase;
}
.contact-form small {
  color: #fff;
  text-align: center;
}
.input-fields,
.msg {
  width: 50%;
  text-align: center;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  color: #ccc;
  width: 90%;
}
.msg textarea {
  width: 270px;
  height: 256px;
  background: transparent;
  color: #ccc;
}
::-webkit-input-placeholder {
  text-align: center;
  color: #ccc;
  font-size: 1vw;
}
::moz-input-placeholder {
  color: #fff;
}
::ms-input-placeholder {
  color: #fff;
}
.btn button {
  width: 100%;
  background: rgba(74, 75, 74, 0.4);
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  color: #ccc;
  font-size: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 440px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 2px;
  }
  .wrapper {
    position: absolute;
    top: 16%;
    left: 0%;
    width: 100%;
    height: fit-content;
    padding: 0;
  }
  .wrapper h3 {
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
  }
  .contact-form small {
    color: #fff;
    text-align: center;
  }
  .input-fields,
  .msg {
    width: 100%;
    text-align: center;
  }
  .input-fields .input,
  .msg textarea {
    margin: 10px 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    color: #ccc;
    width: 100%;
  }
  .msg textarea {
    height: 120px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
    color: #ccc;
    font-size: 100%;
  }
  ::moz-input-placeholder {
    color: #fff;
  }
  ::ms-input-placeholder {
    color: #fff;
  }
  .btn button {
    width: 100%;
    background: rgba(74, 75, 74, 0.4);
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    color: #ccc;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }
  #about-text {
    position: relative;
    top: 15%;
    left: 0%;
    margin: 6%;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
  }
  #about-text h3 {
    font-size: 130%;
    text-align: center;
    color: #ccc;
    padding-bottom: 3px;
  }
  #about-text p {
    font-size: 90%;
    text-align: center;
    color: #ccc;
  }
  #about-img {
    width: 100%;
    height: 800px;
    background-image: url(../images/about_portrait.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  h1 {
    font-size: 160%;
  }
  #hero-img {
    background-image: url(../images/home_portrait.jpg);
    background-position: center center;
    background-size: cover;
  }
  #gallery-area {
    column-count: 3;
  }
}

@media screen and (max-width: 800px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 2px;
  }
  .wrapper {
    position: absolute;
    top: 12%;
    left: 0%;
    width: 100%;
    height: fit-content;
    padding: 0;
  }
  .wrapper h3 {
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
  }
  .contact-form small {
    color: #fff;
    text-align: center;
  }
  .input-fields,
  .msg {
    width: 100%;
    text-align: center;
  }
  .input-fields .input,
  .msg textarea {
    margin: 10px 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    color: #ccc;
    width: 100%;
  }
  .msg textarea {
    height: 120px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
    color: #ccc;
    font-size: 100%;
  }
  ::moz-input-placeholder {
    color: #fff;
  }
  ::ms-input-placeholder {
    color: #fff;
  }
  .btn button {
    width: 100%;
    background: rgba(74, 75, 74, 0.4);
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    color: #ccc;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }
  #about-text {
    position: relative;
    top: 15%;
    left: 0%;
    margin: 6%;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
  }
  #about-text {
    position: relative;
    top: 5%;
    left: 0%;
    margin: 6%;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
  }
  #about-text h3 {
    font-size: 120%;
    text-align: center;
    color: #ccc;
    padding-bottom: 3px;
  }
  #about-text p {
    font-size: 90%;
    text-align: center;
    color: #ccc;
  }
}
