@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: "roboto", sans-serif;
}
h1,
h2 {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
}
.nav-background {
  background: rgba(0, 0, 0, 0.7);
}
#logo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-decoration: none;
  text-align: center;
  animation-name: move-in;
  animation-direction: forwards;
  animation-duration: 3s;
}
@keyframes move-in {
  from {
    margin-left: -800px;
  }

  to {
    margin-left: 0%;
  }
}
#logo h1 {
  color: #ccc;
  font-family: "lato", sans-serif;
  font-weight: bold;
  font-size: 4vw;
}
#logo,
#menu {
  line-height: 75px;
}
#menu {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#menu li {
  padding: 10px;
  list-style-type: none;
}
#menu a {
  font-size: 150%;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  text-align: center;
}
#menu a:hover {
  color: #000;
}
/* Home page */
.home-section {
  width: 100%;
  height: 800px;
  background-image: url(../images/home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
/* main image area */
/* Footer Section */
#footer {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  padding-top: 40px;
}
#socials {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
#socials a {
  font-size: 220%;
}
#facebook i {
  color: #2c57ac;
}
#facebook i:hover {
  color: #ccc;
}
#instagram i {
  color: #db304c;
}
#instagram i:hover {
  color: #ccc;
}
#twitter i {
  color: #00acee;
}
#twitter i:hover {
  color: #ccc;
}
#pin i {
  color: #ff1500;
}
#pin i:hover {
  color: #ccc;
}
#copyright {
  display: inline-flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
#copyright h3 {
  font-size: 1.1vw;
  text-align: center;
  color: #ccc;
}
/* Gallery area */
#gallery-area {
  clear: both;
  width: 100%;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#gallery-area img {
  width: 100%;
  overflow: hidden;
}
/* About page */
.about-page div {
  width: 100vw;
  height: 600px;
}
#about-img {
  width: 100vw;
  height: 600px;
  background-image: url(../images/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-text {
  position: absolute;
  top: 25%;
  left: 10vw;
  width: 22vw;
  height: fit-content;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 30px;
}
#about-text h3 {
  font-size: 2vw;
  text-align: center;
  color: #ccc;
}
#about-text p {
  font-size: 1vw;
  line-height: 3.1vh;
  text-align: center;
  color: #ccc;
  padding-top: 10px;
}

/* Contact Page  */
#body-contact {
  width: 100%;
  height: 600px;
  background-image: url(../images/contactpage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-info {
  position: absolute;
  top: 52vh;
  left: 15vw;
  width: 15vw;
  padding: 30px;
  transform: translateY(-50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.8);
}
#contact-info h2 {
  padding: 8px;
  text-align: center;
  font-size: 2.1vw;
  color: #ccc;
}
#contact-info p {
  padding-top: 4px;
  text-align: center;
  font-size: 1.1vw;
  color: #ccc;
}
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 30px;
  border-radius: 5px;
  display: flex;
}
.wrapper {
  position: absolute;
  top: 52%;
  left: 15%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-form small {
  color: #fff;
  text-align: center;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  color: #ccc;
  width: 100%;
}
.msg textarea {
  height: 201px;
}
::-webkit-input-placeholder {
  text-align: center;
  color: #ccc;
  font-size: 1vw;
}
::moz-input-placeholder {
  color: #fff;
}
::ms-input-placeholder {
  color: #fff;
}
.btn button {
  width: 100%;
  background: rgba(74, 75, 74, 0.4);
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  color: #ccc;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
/* Meadia Queries */
@media screen and (max-width: 900px) {
  #logo h1 {
    padding-top: 20px;
    font-size: 6vw;
  }
  #menu a {
    font-size: 3vw;
  }
  #gallery-area {
    clear: both;
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
  }
  #about-text {
    position: absolute;
    top: 35%;
    left: 19vw;
    width: 55vw;
    height: fit-content;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 30px;
  }
  #about-text h3 {
    font-size: 4vw;
  }
  #about-text p {
    font-size: 2.5vw;
    line-height: 3.5vh;
  }
}
@media screen and (max-width: 600px) {
  #logo h1 {
    padding-top: 20px;
    font-size: 7vw;
  }
  #menu a {
    font-size: 4vw;
  }
  #gallery-area {
    clear: both;
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
  }
  #about-text {
    position: absolute;
    top: 35%;
    left: 20vw;
    width: 50vw;
    height: fit-content;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 30px;
  }
  #about-text h3 {
    font-size: 5vw;
  }
  #about-text p {
    font-size: 2.5vw;
    line-height: 2.5vh;
  }
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  #gallery-area {
    clear: both;
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
  }
  #about-text {
    position: absolute;
    top: 30%;
    left: 20vw;
    width: 42vw;
    height: fit-content;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 30px;
  }
  #about-text h3 {
    font-size: 5vw;
  }
  #about-text p {
    font-size: 3vw;
    line-height: 2vh;
  }
}
